# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
Sublime Text 2/Packages/Default/Meta Info Summary.cache
Sublime Text 2/Packages/Default/Syntax Summary.cache
*.cache
Sublime Text 2/Packages/SublimeCodeIntel/libs/_local_arch/_SilverCity.so
Sublime Text 2/Packages/SublimeCodeIntel/libs/_local_arch/ciElementTree.so
Sublime Text 2/Packages/SublimeCodeIntel/libs/_local_arch/sgmlop.so
